<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Return Twitter</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <div class="head">
                Return Twitter
            </div>
            <span class="info">Twitter의 여러 요소를 X 개편 전 상태로 변경합니다.</span>
            <div class="icon">
                <a href="https://github.com/bunubbv" class="icon-link">
                    <img src="/images/github.svg" class="icon-svg">
                </a>
                <a href="mailto:me@bunubbv.com" class="icon-link-end">
                    <img src="/images/gmail.svg" class="icon-svg">
                </a>
            </div>
        </div>
    </body>
</html>